name: Notify Discord on New Release

on:
  release:
    types: [published]

jobs:
  guidelines-update-alert-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Send Custom Discord Notification (No Title Link)
        uses: tsickert/discord-webhook@v7.0.0 
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          
          embed-title: "Guidelines got updated."
          
          embed-description: |
            # ${{ github.event.release.name }}
            
            ${{ github.event.release.body }}

          embed-image-url: https://i.imgur.com/A5gHDaQ.jpeg
          
          embed-timestamp: ${{ github.event.release.published_at }}
          
          username: "Guidelines"
          
          embed-color: "16147856" 
          
          embed-footer-text: "Released by ${{ github.event.release.author.login }}"
          
          embed-footer-icon-url: ${{ github.event.release.author.avatar_url }}
